body{
margin: 0px;
width: 100%;
height: fit-content;
font-family: Arial, Helvetica, sans-serif;
color: white;
background-color: black;
}
.header{
padding: 2vh 0px;
width: 100%;
height: 4vh;
display: flex;
justify-content: space-around;
align-items: center;
}
.appName{
width: 60vw;
height: fit-content;
font-size: 6vw;
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}
.like, .message{
  width: 5vw;
  height: 5vw;
  object-fit:contain;
}
.message{
  filter: invert(100%);
}
.profileBar{
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vh 0px;
}
.profile1,.profile2,.profile3,.profile4,.profile5{
  width: 13vw;
  height: 13vw;
  border-radius: 10vh;
  border-width: 0px;
  object-fit: cover;
  background-color: darkred;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-style:solid;
}
.profile1{
  border-width: .4vh;
  border-block-color: gold;
  border-inline-color: purple;
}
main{
  height: 100vh;
  border-width: .2vw 0vh 0vh 0vh;
  border-top-color: grey;
  border-style: solid;
}
.profileHub{
  display: flex;
  justify-content: left;
  height: fit-content;
  vertical-align: middle;
  margin: 1vh 0vh;
}
.profileImg, .more{
  width: 5vh;
  height: 5vh;
  border-radius: 6vw;
  object-fit: cover;
  margin: 0vw 1vh;
}
.more{
  margin-left: 17vh;
  object-fit: fill;
  width: 2vh;
  height: 2vh;
  filter: invert(100%);
  align-self: center;
}
.instName{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 6vh;
  height: fit-content;
  font-size: 1.5vh;
  align-self: center;
}
.userName{
  height: fit-content;
}
.vidContainer{
  height: 80vh;
  width: 100%;
  background-color: gray;
  display: flex;
  justify-content: space-around;
}
.vid{
  width: fit-content;
  height: fit-content;
  background-color: lightblue;
  align-self: center;
}
